@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fresca&display=swap');


body{
    background-image: linear-gradient(to bottom,#027373 , white ,#0D0D0D);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: cover;
}


h1{
    background-color: rgb(2, 2, 2);
    width: 300px;
    display: inline-block;
}

input{
    color:#F2E7DC;
    padding: 12px;
    outline: none;
    font-size: 35px;
    font-family: 'Alfa Slab One', cursive;
    
}

.num{
    width: 64px;
    height: 60px;
    margin: 2px;
    box-shadow: 0px 2px #0D0D0D ;
    border-radius: 4px;

}

.text{
    
    width: 180px;
    height:16px;
    border-radius: 20px;
    letter-spacing: 5px;
    text-align: center;
    margin: bottom 12px;
}

.text1{
    width: 1em;
    height: 6px;
    border-radius: 7px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
    cursor: pointer;
}





.main{
    background-image: linear-gradient(to bottom ,#0D0D0D ,#A9D9D0 ,#0D0D0D);
    height: 350px;
    display: inline-block;
    border-radius: 18px;
    padding: 20px;
    border: 10px solid rgba(240, 239, 239, 0.452);
    
}

.maincolor{
    background-color: #0a6eac00;

}


.blue{
    background-image: linear-gradient(to bottom ,#027373 ,#027373 ,#038C7F);
    color: aliceblue;
}

.pin{
    background-image: linear-gradient(to bottom ,#027373 ,#027373 ,#038C7F);
    color: aliceblue;
}

.gree{
    background-image: linear-gradient(to bottom ,#027373 ,#027373 ,#038C7F);
    color: aliceblue;
}


.pur{
    background-image: linear-gradient(to bottom ,#027373 ,#027373 ,#038C7F);
    color: aliceblue;
}

.ora{
    background-image: linear-gradient(to bottom ,#027373 ,#027373 ,#038C7F);
    color: aliceblue;
}
